
body {
  background-color: #ffffff;
  color: #000080;
}

.big {
  font-weight: bold;
  font-size: 35px;
}

.small {
  font-weight: bold;
  font-size: 10px;
}

.medium {
  font-weight: bold;
  font-size: 17.5px;
}

.ohp {
  font-weight: bold;
  font-size: 17.5px;
}

p {
  font-size: 17.5px;
  text-align: center;
}

.address {
  font-size: 15px;
  font-weight: bold;
}

.updated {
  font-size: 10px;
}

table {
  width: 85%;
}

.geico {
  text-align: center;
  font-size: 10px;
  }

.web {
  text-align: left;
  font-size: 13px;
  }

.disclaimer {
    text-align: left;
  }

.copyright {
  text-align: left;
  font-size: 10px;
}

.bold {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}

.divider {
width: 100%;
border-width: 1px;
border-style: solid;
border-color: black;

}

a {

  color: #800080;
}

a:visited {
  color: #ff0000;
  }

/*What is important to know when linking an external file (like a stylesheet) to an HTML file?
  Save the .css file! I couldn't get them linked for a while and that was it. I think just knowing where in the directory the .html file is relative to the .css file is key, and knowing the format of how to link it. If you know those two it's very easy.
What tricks did you use to help you with positioning?
  My trick was going onto codecademy and looking up the tables, and then getting the top two links looking how they should, then copying and pasting the shell. I basically re-wrote most of the html file. Can't really say it was a trick!
How hard was it to get the site as you wanted it?
  It was super hard. It took me a few hours. Getting the tables figured out took a while, and getting them to look how they should took even longer, but it was rewarding once it was done.
What CSS did you use to modify the element style (like size, color, etc.)
  I used text-align, color, width, font-size, and font weight mostly. I also used some others as one-offs, like border-width, border-style, etc.
Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
  I used a lot of classes. I like classes because I can use the same class inside <p> that I can use inside of <a>, or inside of <span>, so I find they're very flexible. I know IDs can only be used once, but I didn't use IDs because class seemed to work every time I needed it.
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
  I kind of like mine better. I feel like my formatting is mostly in CSS while they use HTML a lot. I also was wondering how the hell they got all of the links in the table centered using CSS because I couldn't get it, and then I saw they cheated and did it in HTML. Also, I added a kitten with a bowtie.
*/

